.movie-card {
	border-style: solid;
	border-radius: 2em;
	border-width: .1em;
	border-color: rgb(75, 75, 75);
	box-shadow: 1px 1px 10px 1px #888888;
	background-color: #fff;
	margin: 1em 0 1em 0;

	img {
		width: 100%;
		height: 300px;
		border-top-left-radius: 2em !important;
		border-top-right-radius: 2em !important;
		object-fit: cover;
	}

	.card {
		border-radius: 2em !important;
		border-color: #fff;
	};

	.card-title {
		text-align: center;
		margin: auto;
	};

	.card-footer {
		text-align: center;
		margin-top: auto;
	}

	.movie-card-btn {
		color: #fff;
		background-color:#464646;
	}
}
